version: 2.1

orbs:
  # For testing purposes, this will be removed later.
  automation: willian-gama/android-ci@dev:chore/cache

workflows:
  build_and_test:
    jobs:
      - automation/android_setup:
          build_variant: debug
          filters:
            branches:
              only:
                - chore/circleci-orb
      - automation/unit_tests:
          build_variant: debug
          parallelism: 2
          requires:
            - automation/android_setup
      - automation/screenshot_tests:
          build_variant: debug
          requires:
            - automation/android_setup
      - automation/ui_tests:
          build_variant: debug
          parallelism: 1
          requires:
            - automation/android_setup
      - automation/code_linting:
          build_variant: debug
          requires:
            - automation/android_setup
      - automation/code_coverage:
          requires:
            - automation/unit_tests
            - automation/ui_tests